main {
    color: #252429;
    flex-direction: column;
}

.content--box {
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
}

@media (min-width: 720px) {
    .content--box {
        margin-top: 25px;
    }
}
